<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="GenericDIElementsExample" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecore.feature.group" version="2.10.2.v20150123-0348"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.10.1.v20150123-0348"/>
<unit id="org.eclipse.rcp.feature.group" version="4.4.2.v20150204-1700"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.tools.e3x.bridge.feature.feature.group" version="0.14.0.v20140611-1610"/>
<repository location="http://download.eclipse.org/e4/downloads/drops/S-0.16-201408072200/repository"/>
</location>
</locations>
</target>
